# Virtual Environment
.venv/
venv/
env/

.DS_Store
data/
credentials.json

# Python
__pycache__/
*.py[cod]
*$py.class
.Python

# Environment variables
.env

# IDE settings (optional but recommended)
.vscode/
.idea/
